[submodule "catppuccin-alacritty"]
	path = .local/share/catppuccin-alacritty
	url = https://github.com/catppuccin/alacritty
[submodule "catppuccin-bat"]
	path = .local/share/catppuccin-bat
	url = https://github.com/catppuccin/bat
[submodule "catppuccin-fzf"]
	path = .local/share/catppuccin-fzf
	url = https://github.com/catppuccin/fzf
[submodule "catppuccin-lazygit"]
	path = .local/share/catppuccin-lazygit
	url = https://github.com/catppuccin/lazygit
[submodule "catppuccin-tmux"]
	path = .local/share/catppuccin-tmux
	url = https://github.com/catppuccin/tmux
[submodule "tmux-sensible"]
	path = .local/share/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
